@using Entity.Concrete
@model List<Abaut>

@{
    Layout = "_adminlayouts";
}

<h2>Hakkında Veri Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Hakkımda Başlığı</th>
        <th>Aktif</th>
        <th>Pasif</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AbautId</td>
            <td>Başlık</td>
            <td><a href="#" class="btn btn-success">Aktif</a></td>
            <td><a href="#" class="btn btn-danger">Pasif</a></td>
    </tr>
    }
</table>

@await Html.PartialAsync("_AbautPartial")
