@model Entity.Concrete.Admin
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Admin Giriş</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
  <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css" />
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Admin</b> Giriş</a>
  </div>

  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Giriş Yap</p>

      <form asp-controller="Login" asp-action="Index" method="post" novalidate>
        @Html.AntiForgeryToken()

        <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

        <div class="input-group mb-3">
          <!-- Admin.AdminName -->
          <input asp-for="AdminName" class="form-control" placeholder="Kullanıcı adı" />
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-user"></span></div>
          </div>
        </div>
        <span asp-validation-for="AdminName" class="text-danger d-block mb-2"></span>

        <div class="input-group mb-3">
          <!-- Admin.AdminPasword (modelde böyle yazıldığı için aynen kullanılıyor) -->
          <input asp-for="AdminPasword" type="password" class="form-control" placeholder="Şifre" />
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-lock"></span></div>
          </div>
        </div>
        <span asp-validation-for="AdminPasword" class="text-danger d-block mb-2"></span>

        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <!-- ViewModel yok; checkbox'ı manuel name ile post ediyoruz -->
              <input type="checkbox" id="remember" name="RememberMe" />
              <label for="remember">Beni Hatırla</label>
            </div>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
          </div>
        </div>
      </form>

      <p class="mb-1"><a href="#">Şifremi Unuttum</a></p>
      <p class="mb-0"><a asp-controller="Login" asp-action="Register" class="text-center">Yeni üyelik oluştur</a></p>
    </div>
  </div>
</div>

<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
</body>
</html>
