@model Entity.Concrete.Admin
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <b>Yeni Admin Kaydı</b>
    </div>
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Yeni hesap oluştur</p>

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">@ViewBag.Error</div>
            }
            @if (ViewBag.Success != null)
            {
                <div class="alert alert-success">@ViewBag.Success</div>
            }

            <form asp-action="Register" method="post">
                <div class="input-group mb-3">
                    <input asp-for="AdminName" class="form-control" placeholder="Kullanıcı adı">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input asp-for="AdminPasword" type="password" class="form-control" placeholder="Şifre">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Kayıt Ol</button>
                    </div>
                </div>
            </form>

            <a href="/Login/Index" class="text-center d-block mt-3">Zaten hesabın var mı? Giriş yap</a>
        </div>
    </div>
</div>

<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
</body>
</html>